page-home {
    .contenido{
    background: #00bdd1;
}


img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}


ion-item{
    margin-bottom:15px !important;
}
.list-ios .item-block .item-inner{
    border-bottom: 0px !important;
}
ion-list{
    padding-left: 30px;
    padding-right: 30px;
}

.enlace{
    background: transparent !important;
    border: 1px solid white !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.registrarme{
    margin-bottom: 20px;
}
}

